@{
    ViewData["Title"] = "Home Page";

}

<style>
    #profilePicture{
        clip-path: circle();
    }
    .black-border{
        border: 1px solid black;
    }
    #paddingTop{
        padding-top: 5%;
        padding-left: 1%;
    }
    #marginIconSpacing{
        margin-right: 3%;
    }
    a{
        color: inherit;
    }

    a:hover {
        color: dimgrey;
        text-decoration: none;
    }
</style>


    <div class="container">
    <div class="row justify-content-center">
            <div class="col-lg-4 col-sm justify-content-center">
                <img src="images/profilePicture.jpg" class="img-fluid rounded float-start justify-content-center" id="profilePicture" alt="Responsive image" />
            </div>
            
            <div class="col-lg-8 col-sm">
                <div class="row" id="paddingTop">
                <h1>Learn from yesterday, live for today, hope for tomorrow. The important thing is not to stop questioning.</h1>
                <h3>-Albert Einstein</h3>
                </div>
                <div class="row" id="paddingTop">
                <h4>I am a new graduate with a passion for software development, driven by attention 
                    to detail and an objective-oriented mindset. I firmly believe in the importance of a mobile-first approach in 
                    today's technology landscape, recognizing the significance of delivering seamless user experiences across various 
                    devices. I am eager to contribute my skills and knowledge to a dynamic team, where I can apply my technical expertise 
                    to create innovative solutions that prioritize user satisfaction and efficiency.</h4>
                </div>
                
            </div>
        </div>

        <div class="row justify-content-between" id="paddingTop" style="padding-bottom: 2%;">
            
        <div class="col text-center">
            <a href="https://www.linkedin.com/in/tomasperanic/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl" id="marginIconSpacing"></i></a>
            <a href="mailto:peranic.tomas@hotmail.com">
                <i class="fa-solid fa-envelope fa-2xl" id="marginIconSpacing"></i>
            </a>
            <a href="https://github.com/peranictomas" target="_blank">
                <i class="fa-brands fa-github fa-2xl"></i>
            </a>
            </div>
      
        </div>
        
    </div>
    
